.modal-content {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
  
.modal-header {
    background-color: hsl(0, 0%, 100%); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-weight: bold;
    color: #131212; 
}
  
.modal-body {
    background-color: #a0c793e6; 
    color: #0b0b0b; 
    padding: 15px;
}
 
.modal-footer {
    background-color: hsl(0, 0%, 99%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
  
.btn-secondary {
    background-color: #f5f4f6; 
    color: #080808; 
    border: none; 
    border-radius: 5px; 
}
